/* Fonts */
/* play-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/play-v21-latin-regular.woff2') format('woff2');
  src: url('../fonts/play-v21-latin-regular.woff') format('woff');
}
/* play-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/play-v21-latin-700.woff2') format('woff2');
  src: url('../fonts/play-v21-latin-700.woff') format('woff');
}
/* roboto-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v50-latin-regular.woff2') format('woff2');
  src: url('../fonts/roboto-v50-latin-regular.woff') format('woff');
}
/* roboto-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/roboto-v50-latin-600.woff2') format('woff2');
  src: url('../fonts/roboto-v50-latin-600.woff') format('woff');
}

/* root */

:root {
  --color-primary-light: #ffffff;
  --color-primary-dark: #011c44;
  --color-brand: #2b7fff;

  --color-brand-details: #011f4a;
  --color-secondary-dark: #4a4a4a;
  --color-secondary-light: #747272;
  /* --color-accent: #ffd02b; not found in the design but is present in UI kit */
}

/* Base */

body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-primary-dark);
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.brand.color {
  color: var(--color-brand);
}

.brand.name {
  text-transform: capitalize;
}

/* Logo */

.logo.header img {
  max-width: 72px;
  max-height: 42px;
  width: 100%;
  height: 100%;
}
.logo.footer img {
  max-width: 83px;
  max-height: 42px;
  width: 100%;
  height: 100%;
}

/* Titles */
.main-title {
  color: var(--color-brand);
  font-family: 'Play', sans-serif;
  font-size: 140px;
  font-weight: 700;
  line-height: 1.2;
}

.section-title {
  font-family: 'Play', sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 1;
}

/* Buttons */
.button {
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  color: var(--color-primary-light);
  background-color: var(--color-brand);
  text-align: center;
  text-decoration: none;
  padding: 16px 32px;
  border: none;
  border-radius: 32px;
}

/*.button.call {
}
*/
.button.contact-window {
  background-color: var(--color-brand);
}

/* Header */

ul.navigation {
  list-style: none;
}
ul.navigation li {
  display: inline-block;
}

header .navigation-link {
  text-decoration: none;
  color: var(--color-primary-dark);
  font-size: 18px;
  line-height: 1;
}
ul.communication.header {
  list-style: none;
}
ul.communication.header li {
  display: inline-block;
}

header .contact-link img {
  max-width: 32px;
}

/* Main section */
.button-call-explanation {
  color: var(--color-secondary-dark);
  font-size: 12px;
  line-height: 1.5;
}

/* About us section */
.about-us-section {
  font-size: 22px;
  line-height: 1.7;
}

/* Reasons to choose us section */
.why-choose-us-section {
  line-height: 1.3;
}

.reasons-list {
  list-style: none;
}
.reasons-list li {
  display: inline-block;
}
.reasons-list li.article {
  background-color: var(--color-primary-light);
  border-color: #ffffff;
  border-radius: 32px;
}

/*.reason-icon {
  text-align: center; -- does not work on img elements
} */

/* Procedures section */
.procedures-section {
  font-size: 22px;
  line-height: 1.2;
  color: var(--color-primary-light);
}

.procedure-image {
  max-width: 344px;
  max-height: 456px;
}
.procedures-list li {
  list-style: none;
  display: inline-block;
}

/* How to find us section */
.contact-confidentiality {
  color: var(--color-secondary-light);
  font-size: 14px;
  text-align: center;
}
.contact-confidentiality.link {
  text-decoration: underline;
}

.contact-window {
  background-color: var(--color-primary-dark);
}

.contact-window h3 {
  color: var(--color-primary-light);
  font-weight: 600;
  text-align: center;
}

.contact-inputs {
  list-style: none;
}

.contact-inputs input {
  font-size: 13px;
  background-color: transparent;
  border: 2px solid;
  border-color: var(--color-secondary-light);
  border-radius: 32px;
  width: 310px;
  height: 52px;
}

.contact-inputs input::placeholder {
  color: var(--color-primary-light);
}

/* Footer */

footer {
  background-color: var(--color-primary-dark);
  text-decoration: none;
}

footer .navigation-link {
  color: var(--color-primary-light);
  text-decoration: none;
  font-size: 16px;
  line-height: 1;
}

.address-link {
  color: var(--color-primary-light);
  text-decoration: none;
  font-style: normal;
  font-size: 16px;
  line-height: 1;
}

.communication.footer li {
  list-style: none;
  display: inline-block;
}

footer .contact-link img {
  max-width: 42px;
}

.copyright {
  color: var(--color-secondary-light);
  font-size: 13px;
  line-height: 100%;
}
